@font-face {
    font-family: 'mine-sweeper';
    src: url('mine-sweeper.ttf');
}

@font-face {
    font-family: 'clock';
    src: url('clock.ttf');
}

* {
    box-sizing: border-box;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>🤚</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

body {
    background: linear-gradient(rgb(17, 17, 17), rgb(37, 37, 37)) no-repeat center center fixed; 
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    color: whitesmoke;
    font-family: 'mine-sweeper';
    font-size: small;
    text-align: center;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>🤚</text></svg>") 5 0,auto; /*!emojicursor.app*/
    /* min-height: 100vh; */
}

h1 {
    text-shadow: 1px 1px 2px rgb(109, 109, 109), 0 0 0.2em rgb(180, 180, 198), 0 0 0.2em rgb(68, 68, 68);
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

h1 span {
    text-shadow: 1px 1px 2px rgb(109, 109, 109), 0 0 0.2em rgb(180, 180, 198), 0 0 0.2em rgb(68, 68, 68);
}

button {
    border: solid 3px;
    border-top-color: #989898;
    border-left-color: #989898;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    background-color: #bdbdbd;
    font-size: 15.62px;
    font-family: 'mine-sweeper';
    text-align: center;
    cursor: pointer;
    outline: 2px solid;
    outline-color: black;
    border-radius: 1.5%;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
    margin: 10px
}

.easy-button {
    color: green;
}

.medium-button {
    color: darkblue;
}

.hard-button {
    color: red;
}

.game-console {
    display: flex;
    justify-content: center;
    width: 500px;
    padding: 3px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    max-width: 375px;
}

.control-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.control-boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.marks-left {
    margin-top: 10px;
    border: solid 3px;
    border: solid 2px;
    color: red;
    border-top-color: #575656;
    border-left-color: #575656;
    border-bottom-color: #1c1c1c;
    border-right-color: #1c1c1c;
    background-color: black;
    font-size: 15px;
    font-family: 'clock';
    text-align: center;
    cursor: pointer;
    outline: 2px solid;
    outline-color: black;
    border-radius: 1.5%;
    padding-top: 4px;
    padding-bottom: 11px;
    padding-left: 6.5px;
    padding-right: 15px;
    max-width: 66px;
    height: 33px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>🚩</text></svg>") 5 0,auto; /*!emojicursor.app*/
    transition: 2s;
}

.smiley-button {
    text-align: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border: solid 2px;
    border-top-color: #989898;
    border-left-color: #989898;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    background-color: #bdbdbd;
    padding: 3px;
    border-radius: 1.5%;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

.smiley-button img {
    height: 22px;
    width: 22px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

.timer {
    margin-top: 10px;
    border: solid 3px;
    border: solid 2px;
    color: red;
    border-top-color: #575656;
    border-left-color: #575656;
    border-bottom-color: #1c1c1c;
    border-right-color: #1c1c1c;
    background-color: black;
    font-size: 15px;
    font-family: 'clock';
    text-align: center;
    outline: 2px solid;
    outline-color: black;
    border-radius: 1.5%;
    padding-top: 4px;
    padding-bottom: 11px;
    padding-left: 6.5px;
    padding-right: 15px;
    max-width: 66px;
    height: 33px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>⏱</text></svg>") 5 0,auto; /*!emojicursor.app*/
    transition: 2s;
}

table {
    max-width: 100%;
    margin: 0 auto;
    /* justify-content: center; */
    border: solid 2px;
    border-top-color: #cfcfcf;
    border-left-color: #c6c6c6;
    border-bottom-color: #575656;
    border-right-color: #4d4b4b;
    border-radius: 1%;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

tbody {
    border: solid 2px;
    border-top-color: #989898;
    border-left-color: #989898;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    border-radius: 1%;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

td {
    width: 26px;
    height: 26px;
    border: solid 2px;
    border-top-color: #989898;
    border-left-color: #989898;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    background-color: #bdbdbd;
    font-size: 10px;
    text-align: center;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

td img {
    height: 17px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: red;
}

.four {
    color: darkblue;
}

.five {
    color: darkred;
}

.six {
    color: lightseagreen;
}

.seven {
    color: black;
}

.eight {
    color: grey;
}

.hidden {
    border: solid 2px;
    background-color: #8a8989;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-bottom-color: #7b7b7b;
    border-right-color: #7b7b7b;
    /* text-indent: 10000%;
    white-space: nowrap;
    overflow: hidden; */
}

.mine img {
    height: 15.5px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

.mine-clicked {
    background: linear-gradient(red, darkred);
    border-top-color: #ae0101;
    border-left-color: #ae0101;
    border-bottom-color: #f44b4b;
    border-right-color: #f44b4b;
}

.mine-clicked img {
    height: 16.5px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

footer {
   text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 39px;
}