@font-face {
    font-family: 'mine-sweeper';
    src: url('mine-sweeper.ttf');
}

@font-face {
    font-family: 'clock';
    src: url('clock.ttf');
}

* {
    box-sizing: border-box;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>🤚</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

body {
    /* background: linear-gradient(rgb(17, 17, 17), rgb(60, 60, 60)) no-repeat center center fixed;  */
    background-image: url(../img/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
    font-family: 'mine-sweeper';
    font-size: small;
    text-align: center;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>🤚</text></svg>") 5 0,auto; /*!emojicursor.app*/
    /* min-height: 100vh; */
}

h1 {
   color: lightgray;
    text-shadow: -1.5px -1px 0 #484848, 1px -1px 0 #484848, -1.5px 1px 0 #c0c0c0, 1px 1px 0 #bbbbbb;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
    font-size: 28.65px;
}

button {
    border: solid 3px;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-bottom-color: #989898;
    border-right-color: #989898;
    background-color: #d0d0d0;
    font-size: 15.62px;
    font-family: 'mine-sweeper';
    text-align: center;
    cursor: pointer;
    outline: 2px solid;
    outline-color: black;
    border-radius: 1.5%;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
    margin: 10px
}

.easy-button {
    color: green;
    transition: 20ms;
}

.easy-button:hover {
    background-color: #bfd3bf;
    transition: 150ms;
}

.easy-button:active {
    border-top-color: #989898;
    border-left-color: #989898;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    background-color: #bdbdbd;
    transition: 30ms;
}

.medium-button {
    color: darkblue;
    transition: 20ms;
}

.medium-button:hover {
    background-color: #c1c1db;
    transition: 150ms;
}

.medium-button:active {
    border-top-color: #989898;
    border-left-color: #989898;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    background-color: #bdbdbd;
    transition: 30ms;
}

.hard-button {
    color: red;
    transition: 20ms;
}

.hard-button:hover {
    background-color: #e8d4d4fb;
    transition: 150ms;
}

.hard-button:active {
    border-top-color: #989898;
    border-left-color: #989898;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    background-color: #bdbdbd;
    transition: 30ms;
}

.game-console {
    display: flex;
    justify-content: center;
    width: 500px;
    padding: 3px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    max-width: 375px;
}

.control-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.control-boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.marks-left {
    margin-top: 10px;
    border: solid 3px;
    border: solid 2px;
    color: red;
    border-top-color: #575656;
    border-left-color: #575656;
    border-bottom-color: #1c1c1c;
    border-right-color: #1c1c1c;
    background-color: black;
    font-size: 15px;
    font-family: 'clock';
    text-align: center;
    cursor: pointer;
    outline: 2px solid;
    outline-color: black;
    border-radius: 1.5%;
    padding-top: 4px;
    padding-bottom: 11px;
    padding-left: 6.5px;
    padding-right: 15px;
    max-width: 66px;
    height: 33px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>🚩</text></svg>") 5 0,auto; /*!emojicursor.app*/
    transition: 2s;
}

.smiley-button {
    text-align: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border: solid 2px;
    border-top-color: #989898;
    border-left-color: #989898;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    background-color: #bdbdbd;
    padding: 3px;
    border-radius: 1.5%;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

.smiley-button img {
    height: 22px;
    width: 22px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

.three-lives-Left {
    background: linear-gradient(rgb(6, 224, 6), rgb(25, 159, 2));
    border-top-color: #57f764;
    border-left-color: #57f764;
    border-bottom-color: #0f6802;
    border-right-color: #0f6802;
    transition: 100ms;
}

.three-lives-Left:hover {
    background: linear-gradient(rgb(6, 203, 6), rgb(22, 135, 2));
}

.three-lives-Left:active {
    background: linear-gradient(rgb(4, 187, 4), rgb(17, 104, 2));
    border-top-color: #0f6802;
    border-left-color: #0f6802;
    border-bottom-color: #26f438;
    border-right-color: #26f438;
    transition: 100ms;
}

.two-lives-Left {
    background: linear-gradient(rgb(246, 250, 48), rgb(255, 191, 0));
    border-top-color: #fee66e;
    border-left-color: #fee66e;
    border-bottom-color: #ffa200;
    border-right-color: #ffa200;
    transition: 100ms;
}

.two-lives-Left:hover {
    background: linear-gradient(rgb(243, 203, 1), rgb(255, 204, 0));
}

.two-lives-Left:active {
    background: linear-gradient(rgb(255, 204, 0), rgb(255, 174, 0));
    border-top-color: #c08a00;
    border-left-color: #c08a00;
    border-bottom-color: #f7be39;
    border-right-color: #f7be39;
    transition: 100ms;
}

.one-life-Left {
    background: linear-gradient(rgb(255, 166, 0), rgb(255, 106, 0));
    border-top-color: #fe9c6c;
    border-left-color: #fe9c6c;
    border-bottom-color:  #ae3e01;
    border-right-color: #ae3e01;
    transition: 100ms;
}

.one-life-Left:hover {
    background: linear-gradient(rgb(255, 136, 0), rgb(255, 128, 0));
}

.one-life-Left:active {
    background: linear-gradient(rgb(255, 115, 0), rgb(255, 55, 0));
    border-top-color: #ae3e01;
    border-left-color: #ae3e01;
    border-bottom-color:  rgb(250, 145, 25);
    border-right-color: rgb(250, 145, 25);
    transition: 100ms;
}

.zero-lives-Left {
    background: linear-gradient(red, darkred);
    border-top-color: #f44b4b;
    border-left-color: #f44b4b;
    border-bottom-color: #ae0101;
    border-right-color: #ae0101;
    transition: 100ms;
}

.zero-lives-Left:hover {
    background: linear-gradient(rgb(221, 2, 2), rgb(113, 1, 1));
}

.zero-lives-Left:active {
    background: linear-gradient(rgb(155, 2, 2), rgb(75, 0, 0));
    border-top-color: #d50303;
    border-left-color: #d50303;
    border-bottom-color: #f33232;
    border-right-color: #f33232;
    transition: 100ms;
}

.timer {
    margin-top: 10px;
    border: solid 3px;
    border: solid 2px;
    color: red;
    border-top-color: #575656;
    border-left-color: #575656;
    border-bottom-color: #1c1c1c;
    border-right-color: #1c1c1c;
    background-color: black;
    font-size: 15px;
    font-family: 'clock';
    text-align: center;
    outline: 2px solid;
    outline-color: black;
    border-radius: 1.5%;
    padding-top: 4px;
    padding-bottom: 11px;
    padding-left: 6.5px;
    padding-right: 15px;
    max-width: 66px;
    height: 33px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>⏱</text></svg>") 5 0,auto; /*!emojicursor.app*/
    transition: 2s;
}

table {
    max-width: 100%;
    width: 342px;
    margin: 0 auto;
    /* justify-content: center; */
    border: solid 2px;
    border-top-color: #cfcfcf;
    border-left-color: #c6c6c6;
    border-bottom-color: #575656;
    border-right-color: #4d4b4b;
    border-radius: 1%;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

tbody {
    border: solid 2px;
    border-top-color: #989898;
    border-left-color: #989898;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    border-radius: 1%;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

td {
    width: 26px;
    max-width: 26px;
    height: 26px;
    max-height: 26px;
    font-size: 10px;
    border: solid 2px;
    border-top-color: #989898;
    border-left-color: #989898;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    background-color: #bdbdbd;
    font-size: 11px;
    text-align: center;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

td img {
    height: 17px;
    max-height:17px;
    width: 17px;
    max-width: 17px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: red;
}

.four {
    color: darkblue;
}

.five {
    color: darkred;
}

.six {
    color: lightseagreen;
}

.seven {
    color: black;
}

.eight {
    color: grey;
}

.hidden {
    border: solid 2px;
    background-color: #7d7d7d;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-bottom-color: #7b7b7b;
    border-right-color: #7b7b7b;
    /* text-indent: 10000%;
    white-space: nowrap;
    overflow: hidden; */
}

.hidden:hover {
    border: solid 2.6px;
    background-color: #787777;
    border-top-color: #d1d0d0;
    border-left-color: #d1d0d0;
    border-bottom-color: #606060;
    border-right-color: #606060;
}

.mine-clicked-3 {
    background: linear-gradient(rgb(246, 250, 48), rgb(255, 191, 0));
    border-top-color: #ffa200;
    border-left-color: #ffa200;
    border-bottom-color: #fee66e;
    border-right-color: #fee66e;
}

.mine-clicked-3 img {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

.mine-clicked-2 {
    background: linear-gradient(rgb(255, 166, 0), rgb(255, 106, 0));
    border-top-color: #e55f16;
    border-left-color: #e55f16;
    border-bottom-color: #fe9c6c;
    border-right-color: #fe9c6c;
}

.mine-clicked-2 img {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

.mine-clicked-1 {
    background: linear-gradient(red, darkred);
    border-top-color: #ae0101;
    border-left-color: #ae0101;
    border-bottom-color: #e83232;
    border-right-color: #e83232;
}

.mine-clicked-1 img {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>👆</text></svg>") 5 0,auto; /*!emojicursor.app*/
}

footer {
   /* text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; */
   text-shadow: -0.5px -0.5px 0 #484848, 0.5px -0.5px 0 #515050, -0.5px 0.5px 0 #c0c0c0, 0.7px 0.9px 0 #bbbbbb;
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 39px;
}
/* 
.easy td { 
    width: 76px;
    max-width: 76px;
    height: 76px;
    max-height: 76px;
    font-size: 25px;
}

.easy td img { 
    height: 53px;
    max-height:53px;
    width: 53px;
    max-width: 53px;
}

.medium td { 
    width: 40px;
    max-width: 40px;
    height: 40px;
    max-height: 40px;
    font-size: 14px;
}

.medium td img { 
    height: 29px;
    max-height:29px;
    width: 29px;
    max-width: 29px;
}

.hard td { 
    width: 26px;
    max-width: 26px;
    height: 26px;
    max-height: 26px;
    font-size: 11px;
}

.hard td img { 
    height: 17px;
    max-height:17px;
    width: 17px;
    max-width: 17px;
} */